page-promotion-detail {
    .promotionDetail{
        font-size: 10pt;
        color: #4F4F4F;
        width:100%;
        font-family: 'Athiti', sans-serif;
        font-weight: bold;
    }
    .detail{
        font-size: 10pt;
        color: #428bca;
        font-weight: bold;
        font-family: 'Athiti', sans-serif;
    }
    .promotionHeader{
        font-size: 10pt;
        color: #4F4F4F;
        width:100%;
        font-family: 'Athiti', sans-serif;
        font-weight: bold;
        text-align : center;
    }
    .logo{
        width: 25%;
		margin: auto;
    }
}
