page-movie-detail {
	.poster {
		text-align: center;
		margin: auto;
		width: 70%;
		display: block;
	}

	.posterDetailHeader{
		font-size: 11pt;
        color: #428bca;
        width:100%;
        font-family: 'Athiti', sans-serif;
		font-weight: bold;
		margin: 0px;
	}
	
	.posterDetail{
		font-size: 10pt;
        color: #4F4F4F;
        width:100%;
        font-family: 'Athiti', sans-serif;
        font-weight: bold;
	}

	.list{
		margin: 0px;
	}

	.grid{
		padding: 20px;
		margin: auto;
	}
	.logo{
		width: 25%;
		margin: auto;
    }
}
