page-showing {
    .showing{
        font-size: 8pt;
        color: #4F4F4F;
        text-align: center;
        width:100%
    }
    .picMovie{
        width: 100%;
        
    }
    .grid{
        width:100%
        
    }
}
