page-ticket {
    .seat{
        width: 7%;
        margin: 0%;
        padding : 0%;
    }
    .screen{
        font-size: 15pt;
        color: #ffffff;
        text-align: center;
        width:100%;
        font-family: 'Athiti', sans-serif;
        font-weight: bold;
        background-color: #5bc0de;
    }
    .vip{
        width: 10%;
        margin-right: 5%;
        margin-bottom: 0px;
        margin: 6px;
        align : center ;
    }
    .header{
        font-size: 10pt;
        font-weight: bold;
        color: #4F4F4F;
        font-family: 'Athiti', sans-serif;
        text-align : center ;
    }
    .logo{
        width: 25%;
		margin: auto;
    }
}
