<!--
  Generated template for the TicketPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title ><img src="pic/sf.png" class="logo"></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding >
  <div class="header">{{nowSeat}} {{theater.name}} <br> {{theater.date}} October 2017 - {{theater.t}}</div>
  <ion-grid class="grid">
    <ion-row>
      <ion-col>
        <div class="screen">S C R E E N</div>
      </ion-col>
    </ion-row><br>
    <ion-row >
      <ion-col col-12>
        <img src="pic/{{t1.pic}}.jpg" *ngFor="let t1 of totalSeat1" class="seat" (click)="byTickets(t1)">
      </ion-col>
    </ion-row>
    <ion-row>
    </ion-row><br>
    <ion-row >
      <ion-col col-12>
        <img src="pic/{{t2.pic}}.jpg" *ngFor="let t2 of totalSeat2" class="seat" (click)="byTickets(t2)">
      </ion-col>
    </ion-row>
    <ion-row >
        <ion-col style="text-align: center">
          <img src="pic/{{vip.pic}}.jpg" *ngFor="let vip of totalSeatVip" class="vip" (click)="byTickets(vip)">
        </ion-col> 
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col col-7 class="totalHead">Selected seat : <span *ngFor="let t of nowSeat" class="total">{{t}}, </span></ion-col>
      <ion-col col-5 class="totalHead">ราคา : <span class="total">{{price}} บาท </span></ion-col>
    </ion-row>
  </ion-grid>
  

  
  
  
</ion-content>
