page-ticket {
    .seat{
        width: 7%;
    }
    .screen{
        font-size: 15pt;
        color: #ffffff;
        text-align: center;
        width:100%;
        font-family: 'Athiti', sans-serif;
        font-weight: bold;
        background-color: #5bc0de;
    }
    .vip{
        width: 10%;
        margin-right: 5%;
        margin-bottom: 0px;
        margin: 6px;

     

    }
}
