page-promotion {
    .promotionList{
        font-size: 8pt;
        color: #4F4F4F;
        text-align: center;
        width:100%;
        font-family: 'Athiti', sans-serif;
        font-weight: bold;
    }

    
    .picMovie{
        width: 100%;
        font-family: 'Athiti', sans-serif;
        
    }

    .logo{
        width: 50%;
    }

}
